#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.left-side {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 500px;
  margin-left: 100px;
}

.form-container {
  background-color: #db6093;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%; 
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

button {
  margin-top: 20px;
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    width: 100%;
    margin-top:20px;
  }

  .left-side, .right-side {
    width: 100%;
    padding: 0;
  }

  .form-container {
    width: 90%;
    margin-top: 20px;
  }

  .board {
    width: 100%;
    margin: 10px 0;
  }
}